[Unit]
Description="Consul Startup process for {{ role }}"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionDirectoryNotEmpty={{ conf_dir }}
ConditionDirectoryNotEmpty={{ ssl_dir }}

[Service]
User=consul
Group=consul
EnvironmentFile=-/etc/sysconfig/consul
PIDFile=/var/run/consul/consul.pid
PermissionsStartOnly=true
ExecStartPre=/usr/local/bin/consul validate {{ conf_dir }}
ExecStart=/usr/local/bin/consul agent -config-dir={{ conf_dir }}
ExecReload=/usr/local/bin/consul reload
KillMode=process
KillSignal=SIGTERM
RestartSec=15s
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
