
export CONSUL_HTTP_ADDR=https://localhost:{{ https_port }}
export CONSUL_CACERT={{ conf_base_dir }}/consul-agent-ca.pem
export CONSUL_CLIENT_CERT={{ cli_ssl_dir }}/{{ dc }}-cli-consul-0.pem
export CONSUL_CLIENT_KEY={{ cli_ssl_dir }}/{{ dc }}-cli-consul-0-key.pem

